body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fafc;
}

header, nav {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

header {
  margin: 10px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

a {
  color: #69696a;
}

.btn_anchor {
  color: #f9fafc;
}

button {
  background-color: #000;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
}

section {
  margin: 20px;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: #000;
}

.content {
  font-weight: bold;
  color: #69696a;
  border-left: 2px solid #69696a;
  padding-left: 15px;
  margin-top: 15px;
}

footer {
  margin: 20px;
}


/* ----- Mobile & Tablets ----- */

@media only screen and (min-width: 500px) {

  button {
      width: 120px;
  }

  header, nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
  }

  header {
      margin-bottom: 75px;
  }

  nav {
      width: 50%;
  }

  a {
      padding: 0;
  }

  button {
      margin: 0;
      width: 120px;
  }

  main {
      display: flex;
      justify-content: space-between;
  }

  .text_content {
      width: 40%;
  }

  .circle1 {
    height: 100px;
    width: 100px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 350px;
    top: 150px;
  }
  
  .circle2 {
    height: 225px;
    width: 225px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 400px;
    top: 150px;
  }
  
  .circle3 {
    height: 150px;
    width: 150px;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 350px;
    bottom: 275px;
  }

  footer {
      display: flex;
      justify-content: center;
      margin-top: 200px;
  }
}

/* ----- Desktop ----- */

@media only screen and (min-width: 1200px) {

  nav {
      width: 40%;
  }

  .scroll_btn {
      margin-top: 100px;
  }

  footer {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

}